@model PhotoContest.App.Models.ViewModels.Contest.ContestViewModel

<div class="panel panel-default contest-panel">
    <div class="panel-heading">
        <h4>
            @Html.ActionLink(@Model.Title, "PreviewContest", "Contests", new { id = @Model.Id }, null)
        </h4>
    </div>
    <div class="panel-body">
        @Model.Description
    </div>
    @Html.Partial("_ContestButtonsPartial", Model)
</div>