@model PhotoContest.App.Models.ViewModels.Picture.FullPictureViewModel
@{ var picId = "pictureVotes" + Model.Id;}
<div class="picture">
    <img src="@Model.Url" class="img-thumbnail" />
    <p><strong>Uploader: </strong> @Model.UserName</p>
    <span class="badge">Votes </span>
    <span class="badge" id="@picId">@Model.Votes</span>

    @Ajax.ActionLink("Vote", "Vote", "Pictures", new { id = @Model.Id },
    new AjaxOptions
    {
        UpdateTargetId = "pictureVotes" + @Model.Id,
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
    }, new { @class = "btn btn-success" })
</div>